<div class="container-fluid d-flex justify-content-center">


    <div class="container-2">
        <h1 class="main-heading">Registration Details</h1>
        <img class="registered-svg" src="../../assets/images/success-register.svg" />
        <tbody>
            <tr>
                <td class="fieldName">Name</td>
                <td class="fieldValue">{{ applicant.name }}</td>
            </tr>
            <tr>
                <td class="fieldName">Email Id</td>
                <td class="fieldValue">{{ applicant.emailId }}</td>
            </tr>
            <tr>
                <td class="fieldName">Branch</td>
                <td class="fieldValue">{{ applicant.branch }}</td>
            </tr>
            <tr>
                <td class="fieldName">Registration Number</td>
                <td class="fieldValue">{{ applicant.registrationNo }}</td>
            </tr>
            <tr>
                <td class="fieldName">Year</td>
                <td class="fieldValue">{{ applicant.year }}</td>
            </tr>
            <tr>
                <td class="fieldName">Mobile Number</td>
                <td class="fieldValue">{{ applicant.mobileNo }}</td>
            </tr>
        </tbody>
        <div class="domain-applied">
            <h2 class="heading">Domains Applied</h2>
            <div class="fieldName" *ngFor="let n of applicant.domain">
                <div class="domains-container">
                    <h3 class=" d-flex justify-content-center" *ngIf="n.select === true">
                        {{ n.name }} :</h3>

                    <p> <a class="link d-flex justify-content-center" [href]="n.value" target="_blank"> {{n.value}}</a></p>
                </div>


            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div class="row">
                <button type="button" routerLink="/profile-auth" class="btn btn-outline-primary buttons"> Check Your Status</button>
            </div>
        </div>
        <br>
    </div>



</div>