<div class="container">
    <tbody>
        <div class="container-2">
            <h1 class="main-heading">Registration Details</h1>
            <img class="registered-svg" src="../../assets/images/success-register.svg" />
            <tr>
                <td class="fieldName">Name</td>
                <td class="fieldValue">{{ applicant.name }}</td>
            </tr>
            <tr>
                <td class="fieldName">Email Id</td>
                <td class="fieldValue">{{ applicant.emailId }}</td>
            </tr>
            <tr>
                <td class="fieldName">Branch</td>
                <td class="fieldValue">{{ applicant.branch }}</td>
            </tr>
            <tr>
                <td class="fieldName">Registration Number</td>
                <td class="fieldValue">{{ applicant.registrationNo }}</td>
            </tr>
            <tr>
                <td class="fieldName">Year</td>
                <td class="fieldValue">{{ applicant.year }}</td>
            </tr>
            <tr>
                <td class="fieldName">Mobile Number</td>
                <td class="fieldValue">{{ applicant.mobileNo }}</td>
            </tr>
            <div class="domain-applied">
                <h2 class="heading">Domains Applied</h2>
                <div class="fieldName" *ngFor="let n of applicant.domain">
                    <h3 class="domains-container d-flex justify-content-center" *ngIf="n.select === true">
                        {{ n.name }} - {{ n.value }}
                    </h3>

                </div>
            </div>
            <br>
        </div>
    </tbody>
</div>