.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}

// Animations 
.rotate {
    transition: transform 0.5s ease-in-out;
}

.rotate:hover {
    transform: rotate(360deg);
}

.object {
    animation: MoveUpDown 3s linear infinite;
    position: absolute;
}

.unhide {
    display: block;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}


/* scrollbar start  */

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.middle {
    position: relative;
}

.card {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.mat-input-element::placeholder .mat-form-field-autofill-control::placeholder {
    color: white !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    position: relative;
    border: white 2px solid;
}

.input1::placeholder {
    color: white !important;
}

.forminput {
    color: white;
}

.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.checkbox {
    margin-bottom: 2vh;
}

.checkbox td {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 2vh;
}


/* Track */

::-webkit-scrollbar-track {
    background: #00222d;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #337d96;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #bebebe;
}


/* scrollbar end  */

.home {
    //background: radial-gradient(circle, #1e24d6 0%, #0f151b 100%);
    box-shadow: 0px -2px 9px 3px #0059ff73;
}

.ng-tns-c71-0 .ng-star-inserted {
    color: white !important;
}

.ng-tns-c71-1 .ng-star-inserted {
    color: white !important;
}

.ng-tns-c71-2 .ng-star-inserted {
    color: white !important
}

.heading-1 {
    margin-top: 2%;
    padding-bottom: 2%;
    background: -webkit-linear-gradient(#eee, rgb(216, 255, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 250%;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}

.mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
    border: white 3px solid !important;
}

.logo {
    padding-top: 4%;
}

// .container {
//     background-color: #ebebeb;
//     width: 60vw;
//     height: 80vh;
//     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//     border-radius: 25px;
// }
.signinbtn {
    background-color: #5776ff;
}

.signinbtn:hover {
    background-color: #364aa7;
}

.fieldBox {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.btn {
    width: 20em;
    border-radius: 5px;
    margin-bottom: 2%;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: white !important;
}

 ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: white !important;
}

 ::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: white !important;
    ;
}

.input1::placeholder {
    color: white !important;
}


/* input color class */

::ng-deep input.mat-input-element {
    color: #484a4c;
}


/* Change label color on focused */

 ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: #50d0fb !important;
}

.ng-tns-c69-1 .ng-star-inserted {
    color: white !important;
}

.ng-tns-c69-0 .ng-star-inserted {
    color: white !important;
}

.ng-tns-c69-2 .ng-star-inserted {
    color: white !important;
}


/* underline border color on focused */

 ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #50d0fb !important;
}

.mat-input-element::placeholder .mat-form-field-autofill-control::placeholder {
    color: white !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 0 .75em 0 .75em;
    margin-top: -0.25em;
    position: relative;
    border: white 2px solid;
}

.hide {
    display: none;
}

.container {
    margin-top: 5vh;
}

.checkinputbox {
    margin-left: 20px;
}

.ng-tns-c71-3 .ng-star-inserted,
.ng-tns-c71-4,
.ng-tns-c71-5,
.ng-tns-c71-6,
.ng-tns-c71-7,
.ng-tns-c71-8,
.ng-tns-c71-9,
.ng-tns-c71-10 {
    color: white !important;
}

@media (max-width: 992px) {
    .card {
        width: 100% !important;
    }
    .hireimg {
        display: none;
    }
}

@media (max-width: 768px) {
    .heading-1 {
        padding-top: 2%;
        font-size: 170%;
    }
    .login-img1 {
        height: 50vh;
    }
}

@media (max-width: 576px) {
    .heading-1 {
        padding-top: 5%;
        font-size: 180%;
    }
    .container {
        margin-top: 2vh;
    }
    .login-img1 {
        height: 30vh;
        padding-top: 5%;
    }
    .card {
        margin-bottom: 5vh;
        width: 100%;
    }
    .btn {
        width: 18em;
        border-radius: 5px;
        margin-bottom: 5%;
    }
}