
.container{
    margin-left: 0px;
    // margin-right: 0%;
    width: 100%;
    margin-bottom: 0;
}
.banner{
    width: 30rem;
    // float: right;
    // padding-right: 50px;
    position: relative;
    top: 0%;
    
}
// .header{
//     background-color: black;
//     position: absolute;
// width: 800px;
// height: 100px;

// text-align: center;


// font-family: Montserrat;
// font-size: 60px;
// line-height: 73px;
// }
.form-area{
    position: absolute;
    // background-color: rgb(254, 255, 255);
    // margin-top: 100px;
    width: 100vw;
    height: 1244px;
    padding-left: 30px;
    padding-top: 100px;


}
.input-fields{
    // width: 300px;
    position: relative;
    margin: 10px 0 0 10px;
    width: 100vw;
    display: block;
    
    // background-color: #63c9cc;
 }
 .input-fields:active{
     background-color: rgb(255, 255, 255);
 }
//  .input-fields:focus{
//      background-color: gray;
//  }
   
.button{
    width:20%;
    margin-left:auto;
    margin-right:auto;
    
}
   
.mat-form-field{
    width: 600px;
}
.input-fields-box{
    margin-left: 20px;
    padding-left: 20px;
}
.input-fields .ng-tns-c71-0 {
    color: white ;
}
.ng-tns-c71-1{
    color: white;
}
.ng-tns-c71-2{
    color: white;
}
.ng-tns-c71-3{
    color: white;
}
.ng-tns-c71-4{
    color: white;
}
.ng-tns-c71-5{
    color: white;
}

@media only screen and (max-device-width: 600px) {

    
    
    .banner{
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;

        padding-bottom: 20px;
    }
    .form-area{
        width: 100vw;
        margin-left: 0%;
        padding-top: 0px;
    }
    .input-fields{
        width: 300px;
        position: relative;
        // margin: 10px 0 0 10px;
    }
    
}