<div class="container">
    <h1 class="text-center">Applicant Details</h1>
    <tbody>
      <tr>
        <td>Name : </td>
        <td>{{ applicant.name }}</td>
      </tr>
      <tr>
        <td>Email Id : </td>
        <td>{{ applicant.emailId }}</td>
      </tr>
      <tr>
        <td>Mobile No : </td>
        <td>{{ applicant.mobileNo }}</td>
      </tr>
      <tr>
        <td>Registration No : </td>
        <td>{{ applicant.registrationNo }}</td>
      </tr>
      <tr>
        <td>Year : </td>
        <td>{{ applicant.year }}</td>
      </tr>
      <tr>
        <td>Branch : </td>
        <td>{{ applicant.branch }}</td>
      </tr>
    </tbody>
    <h2>Domain Information</h2>
    <tr *ngFor="let n of applicant.domain">
        <td *ngIf="n.select === true">
            <input class="form-checkbox-input" type="checkbox" [value] = "n.id" [checked] = "n.isShortlisted"
            (change)= "onChecking($event)" 
          />
        </td>
        <td *ngIf="n.select === true">{{n.name}}</td>
        <td *ngIf="n.select === true">{{ n.value }}</td>
    </tr>
</div>