<section class="home">
    <h1 class="heading-1">Profile Authentication</h1>
    <br>
    <div class="container">
        <div class="logo grow d-flex justify-content-center">
            <img src="../../assets/images/logo.png" alt="IWSC" width="80" height="80">
        </div>
        <div class="fieldBox">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input ngModel matInput [pattern]="emailPattern" placeholder="abc@xyz.com" required>
                    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Phone No.</mat-label>
                    <input ngModel type="number" maxlength="10" matInput placeholder="999877XX70" required>

                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>OTP</mat-label>
                    <input ngModel type="password" matInput placeholder="One Time Password" required>
                </mat-form-field>
            </p>
            <button type="button" class="grow btn btn-primary signinbtn" routerLink="/user-details">Validate</button>


        </div>
    </div>
</section>