/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input.ng-invalid.ng-dirty {
    border-bottom-color: #ff0055 !important;
    border-bottom: solid 3px;
    box-shadow: #ff0055 !important;
}