/* You can add global styles to this file, and also import other style files */

// animations 
.rotate {
    transition: transform 0.5s ease-in-out;
}

.rotate:hover {
    transform: rotate(360deg);
}

.object {
    animation: MoveUpDown 3s linear infinite;
    position: absolute;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
    border-radius: 5px;
    border: white 0.5px solid;
}

.mat-form-field-appearance-outline:hover .mat-form-field-flex:hover {
    border-radius: 5px;
    border: transparent !important;
}

input.mat-input-element {
    color: white !important;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}


/* scrollbar start  */

::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.middle {
    position: relative;
}

.middle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.middle:hover:before {
    visibility: visible;
    transform: scaleX(1);
}


/* Track */

::-webkit-scrollbar-track {
    background: #00222d;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #0b0e72;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #bebebe;
}


/* scrollbar end  */

html,
body {
    height: 100%;
    background: radial-gradient(circle, #0e13be 0%, #0f151b 100%);
    color: white;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input.ng-invalid.ng-dirty {
    border-bottom-color: #ff0055 !important;
    border-bottom: solid 3px;
    box-shadow: #ff0055 !important;
}