@import url(https://fonts.googleapis.com/css?family=Share:400,700&subset=latin,latin-ext);
h1 {
    text-align: center;
    /* padding-bottom: 10px; */
    font-family: Share, Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: white;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    font-family: Share, Helvetica, Arial, sans-serif;
    color: white;
}

.image-home {
    margin-top: 50px;
}

#hero {
    width: 100%;
    height: 100vh;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    color: white;
}

#hero h2 {
    color: white;
    margin-bottom: 50px;
    font-size: 24px;
}

.buttons-h {
    margin-bottom: 10vh;
}

.footer {
    background: rgb(0, 0, 0);
    height: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    justify-content: center !important;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    height: 10vh;
    width: 25vh;
}

#hero .btn-get-started:hover {
    background: #3498db;
    color: #fff;
    text-decoration: none;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero {
        height: 100vh;
    }
    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        width: 50%;
    }
    .image-home {
        margin-top: 250px;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: white;
}

.section-title h2::before,
.section-title h2::after {
    content: "";
    width: 50px;
    height: 2px;
    background: #3498db;
    display: inline-block;
}

.section-title h2::before {
    margin: 0 15px 10px 0;
}

.section-title h2::after {
    margin: 0 0 10px 15px;
}

.section-title p {
    margin: 15px 0 0 0;
}

.ml1 {
    font-weight: 900;
    font-size: 3.5em;
}

.ml1 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
}

.ml1 .line1 {
    top: 0;
}

.ml1 .line2 {
    bottom: 0;
}

@media (max-width: 768px) {
    #hero {
        margin-top: 20px;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .hero-img img {
        width: 70%;
    }
    .image-home {
        margin-top: 300px;
    }
    #hero .btn-get-started {
        margin-top: 7vh;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}