<div id="hero" class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/images/logo.png" height="130px" width="130px" class="d-flex justify-content-center" style="margin-bottom:5vh">
                </div>
                <h1 class="ml1" data-aos="fade-up">
                    <span class="text-wrapper">
          <span class="line line1"></span>
                    <span class="letters">IWSC SRM Recruitments</span>
                    <span class="line line2"></span>
                    </span>
                </h1>
                <h2 data-aos="fade-up" class="content" data-aos-delay="400">
                   A multidisciplinary team where everyone learns and grows together
                </h2>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 d-flex justify-content-center">
                        <button type="button" routerLink="/profile-auth" class="btn btn-outline-primary buttons"> Applicant Dashboard</button>


                    </div>
                    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 d-flex justify-content-center">
                        <button type="button" routerLink="/apply" class="btn btn-outline-primary buttons">Apply Now</button>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-lg-4 col-md-4 d-flex justify-content-center">
                        <button type="button" routerLink="/login" class="btn btn-outline-primary buttons last-button">Admin Login</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <div class="d-flex justify-content-center">
                    <img src="../../assets/images/homepage.svg" class="img-fluid image-home animated " alt="homepage" />
                </div>
            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-12">
        <div class="footer">
            <p class="text-center ">Developed With <span style="color:red;">&hearts;</span> by <a href="https://www.inceptionwave.in/home"> Team IWSC SRM</a></p>
        </div>
    </div>
</div>
